<!DOCTYPE html>
<html>
<head>
  <title>DeviseWithAuthentication</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <%= current_user.first_name%> | <%= link_to "Logout", destroy_user_session_path, method: :delete %> 
  <% else %>
  	<%= link_to "Signup", new_user_registration_path %> | <%= link_to("Login", new_user_session_path) %>
  <% end %>
	<%= yield %>

</body>
</html>
